body {
    margin: 0;
}

.container {
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #FAF3E0;
}

h1 {
    color: #E65100;
    text-align: center;
    font-weight: bold;
}

.content {
    display: flex;
    gap: 20px;
}

.left {
    width: 30%;
    text-align: center;
}

.left img {
    width: 100%;
    border-radius: 8px;
}

.right {
    width: 70%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #E65100;
    color: #FFFFFF;
    padding: 8px;
    text-align: left;
}

td {
    background-color: #FFFFFF;
    border-bottom: 1px, solid, #E0D6C2;
    padding: 8px;
}

th:first-child, td:first-child {
    text-align: center;
    width: 15%;
}

tr:nth-child(odd) td {
    background-color: #FDF8EF;
}